<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Angular Hello Wolrd</title>
  </head>
  <body ng-controller="MainCtrl">
    <h1>Todo List: {{ world }}</h1>
    <ul ng-repeat="(index, todo) in todoList track by index">
      <li id="li-{{ index }}">{{ todo }}</li>
      <button ng-click="removeTodo(index)">Remove</button>
      <div id="edit-container">
        <input ng-model="todo" type="text" name="edit" id="edit-{{ index }}" />
        <button ng-click="editTodo(index)">
          Edit Value
        </button>
      </div>
    </ul>
    <div>
      <input type="text" name="todo" id="todo" />
      <button ng-click="addTodo()">Add Item</button>
    </div>
    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
